.intro{
    /*background: linear-gradient(#5390d9, #80ffdb);*/
    background-color: rgba(97, 165, 194, 1);
    color: #013A63;
}
.intro{
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hero-intro h1{
    font-size: 52px;
    font-weight: bold;
}